.jumbotron{

  padding: 30px;
   margin-bottom: 30px;
   font-size: 18px;
   font-weight: 200;
   line-height: 2.1428571435;
   color: inherit;
   
   background-color: transparent;
   
   background-image: linear-gradient(to right, rgb(255, 232, 131), rgba(255,0,0,0));


}


#output{
  background-image: linear-gradient(to left, rgb(255, 232, 131), rgb(255, 255, 255));
  display: none;
  background-color: transparent;
outline: none;
}

